html {
    font-family: Arial, sans-serif;
}
.contaner {
    border: 1px solid #000;
    max-width: 300px;
    max-height: 580px;
}
.changewidth {
    width: 200px;
    border-radius: 10px;
}
.block {
    margin-bottom: 5px;
}
.heading {
    font-size: 20px;
    font-weight: bold;
}
input {
    margin-bottom: 10px;
}

.form {
    border: none;
    padding: 0 12px;
}

.block1 {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
textarea {
    resize: vertical;
    max-height: 140px;
    min-height: 20px;
}
.button {
    margin: 10px 0px 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}
