html {
    font-family: sans-serif;
}
.container {
    max-width: 1320px;
    padding: 0px 15px;
    margin: 0 auto;
    min-height: 100vh;
}
body {
    box-sizing: border-box;
}
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-logo {
    width: 50px;
    height: 50px;
    background-color: #000;
}

.header {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.nav-li {
    display: flex;
    gap: 2vh;
}
.nav-li-item {
    text-decoration: solid;
}
.tel {
    text-decoration: none;
}
a {
    color: black;
}