html {
    font-family: sans-serif;
}
.container {
    margin: 500px 00px 300px 600px ;

}
caption {
    border: 1px solid #000;
    font-weight: bold;
    font-size: 20px;
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
}
td {
    border: 1px solid #000000;
    
}
.heading {
    font-weight: bold;
}
.weekend {
    color: red;
}
.March {
    color: grey;
}
.border {
    border-left: none;
    border-right: none;
}
.first {
    border-left: 1px solid #000;
}