* {
    box-sizing: border-box;
}

body {
    min-width: 375px;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.header {
    background-color: #f83333;
    min-height: 100px;
    grid-column: 1/12 span;
}
.aside {
    background-color: #f6fa23;
    grid-row: 2/10 span ;
    grid-column: 1/2 span;

}
.footer {
    grid-column: 1/12 span;
    min-height: 200px;
    grid-row: 12;
    background-color: #244cde;

}
.main {
    grid-column: 3/12 span;
    grid-row: 2/10 span;
    background-color: #44eb1f;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
    gap: 10px;
}
.main .article {
    background-color: #f58915;
    min-height: 300px;
}

@media (width <= 1200px) {
    .aside {
        grid-column: 1/3 span;
    }
    .main {
        grid-column: 4/12 span ;
    }
}

@media (width <= 768px) {
    .aside {
        display: none;
    }
    
    .main {
        grid-column: 1/12 span;
    }
}
